<!DOCTYPE html>
<html>
    <head>
        <title>ISSS</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Poppins" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>

    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>



    <div id="landing-header">
        <h1 ><font size="8">Welcome to Institute Service Search System!</font></h1>

        <section class="section-tours">
            <div class=" text-center  u-margin-bottom-medium">
                    <h2 class="heading-secondary">
                    
                </h2>
                <br>  <br>
            </div>
            <div class="row">
                <div class="col-1-of-3">
                    <div class="card">
                        <div class="card__side card__side--front">
                            <div class="card__picture card__picture--1">
                                 
                            </div>
                            <h4 class="card__heading">
                                <span class="card__heading-span card__heading-span--1">Cafe</span>

                            </h4>
                            <div class="card__details">
                                <ul>
                                    <li>Lorem Ipsium</li>
                                    <li>Lorem Ipsium</li>
                                    <li>Lorem Ipsium</li>
                                    <li>Lorem Ipsium</li>
                                    <li>Lorem Ipsium</li>
                                 </ul>
                            </div>
                        </div>
   <div class="card__side card__side--back card__side--back-1">
                            <div class="card__cta">
                                <div class="card__price-box">
                                </div>
                                <a href="/campgrounds" class="btn btn--white">Available Items</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1-of-3">
                    <div class="card">
                        <div class="card__side card__side--front">
                            <div class="card__picture card__picture--2">
                                 
                            </div>
                            <h4 class="card__heading">
                                <span class="card__heading-span card__heading-span--2">Library</span>

                            </h4>
                            <div class="card__details">
                                <ul>
                                    <li>Lorem Ipsium</li>
                                    <li>Lorem Ipsium</li>
                                    <li>Lorem Ipsium</li>
                                    <li>Lorem Ipsium</li>
                                    <li>Lorem Ipsium</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card__side card__side--back card__side--back-2">
                            <div class="card__cta">
                                <div class="card__price-box">
                                </div>
                                <a href="/campgrounds" class="btn btn--white">Available Items</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-1-of-3">
                    <div class="card">
                        <div class="card__side card__side--front">
                            <div class="card__picture card__picture--3">
                                 
                            </div>
                            <h4 class="card__heading">
                                <span class="card__heading-span card__heading-span--3">Sports</span>

                            </h4>
                            <div class="card__details">
                                <ul>
                                    <li>Lorem Ipsium</li>
                                    <li>Lorem Ipsium</li>
                                    <li>Lorem Ipsium</li>
                                    <li>Lorem Ipsium</li>
                                    <li>Lorem Ipsium</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card__side card__side--back card__side--back-3">
                            <div class="card__cta">
                                <div class="card__price-box">
                                </div>
                                <a href="/campgrounds" class="btn btn--white">View All Available Items</a>
                                
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <br>
        </section>


<br> <br> <br> <br> <br> <br>
        
        
    </div>
    
    
            
    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
